<div class="skills-section py-5">
    <div class="container">
        <div
            style="background-image: radial-gradient(circle, rgba(139,92,246,1) 0%, rgba(13,18,36,1) 100%); height: 2px;">
        </div>

        <div class="row text-center py-5">
            <div class="col-sm-12">
                <div class="blur"></div>
                <span class="pills">Skills</span>
                <div class="line"></div>
            </div>
        </div>
        <div class="h-100 m-auto">
            <div class="row align-items-center">
                <div class="logos">
                    <div class="logos-slide">
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/aws.svg" />
                            <p>AWS</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://image.pngaaa.com/142/7469142-middle.png" />
                            <p>DATADOG</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/css.svg" />
                            <p>CSS</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://p7.hiclipart.com/preview/151/360/840/jenkins-continuous-integration-computer-servers-software-deployment-software-build-others.jpg" />
                            <p>Jenkins</p>
                        </div>

                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://e7.pngegg.com/pngimages/302/885/png-clipart-ci-cd-continuous-integration-continuous-delivery-computer-software-software-testing-automation-testing-blue-text-thumbnail.png" />
                            <p>CI/CD</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://w7.pngwing.com/pngs/1013/132/png-transparent-linux-distribution-tux-free-software-linux-kernel-linux-logo-bird-linux-thumbnail.png" />
                            <p>Linux</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/git.svg" />
                            <p>Git</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://e7.pngegg.com/pngimages/40/101/png-clipart-dynatrace-logo-thumbnail-tech-companies.png" />
                            <p>Dynatrace</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/html.svg" />
                            <p>HTML</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://e7.pngegg.com/pngimages/177/440/png-clipart-pearson-vue-test-professional-certification-micro-focus-itil-logo-magenta-thumbnail.png" />
                            <p>ITIL</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://education.oracle.com/file/general/p-80-java.png" />
                            <p>Java</p>
                        </div>
                        <!-- <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/mongoDB.svg" />
                            <p>MongoDB</p>
                        </div> -->
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/mysql.svg" />
                            <p>MySql</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/angular.png" />
                            <p>Angular</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://image.pngaaa.com/723/5417723-middle.png" />
                            <p>Confluence</p>
                        </div>
                        <!-- <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/strapi.svg" />
                            <p>Strapi</p>
                        </div> -->
                        <!-- <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/tailwind.svg" />
                            <p>Tailwind</p>
                        </div> -->
                        <!-- <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/typescript.svg" />
                            <p>TypeScript</p>
                        </div> -->
                    </div>
                    <div class="logos-slide">
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/aws.svg" />
                            <p>AWS</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://image.pngaaa.com/142/7469142-middle.png" />
                            <p>DATADOG</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/css.svg" />
                            <p>CSS</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://p7.hiclipart.com/preview/151/360/840/jenkins-continuous-integration-computer-servers-software-deployment-software-build-others.jpg" />
                            <p>Jenkins</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://e7.pngegg.com/pngimages/302/885/png-clipart-ci-cd-continuous-integration-continuous-delivery-computer-software-software-testing-automation-testing-blue-text-thumbnail.png" />
                            <p>CI/CD</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://w7.pngwing.com/pngs/1013/132/png-transparent-linux-distribution-tux-free-software-linux-kernel-linux-logo-bird-linux-thumbnail.png" />
                            <p>Linux</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/git.svg" />
                            <p>Git</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://e7.pngegg.com/pngimages/40/101/png-clipart-dynatrace-logo-thumbnail-tech-companies.png" />
                            <p>Dynatrace</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/html.svg" />
                            <p>HTML</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://e7.pngegg.com/pngimages/177/440/png-clipart-pearson-vue-test-professional-certification-micro-focus-itil-logo-magenta-thumbnail.png" />
                            <p>ITIL</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://education.oracle.com/file/general/p-80-java.png" />
                            <p>Java</p>
                        </div>
                        <!-- <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/mongoDB.svg" />
                            <p>MongoDB</p>
                        </div> -->
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/mysql.svg" />
                            <p>MySql</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/angular.png" />
                            <p>Angular</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="https://image.pngaaa.com/723/5417723-middle.png" />
                            <p>Confluence</p>
                        </div>
                        <!-- <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/strapi.svg" />
                            <p>Strapi</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/tailwind.svg" />
                            <p>Tailwind</p>
                        </div>
                        <div class="skill">
                            <div class="gradient"></div>
                            <img src="assets/images/skills/typescript.svg" />
                            <p>TypeScript</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>